.user-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme-provider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin: 10px;
  width: 500px;
}

.user-icon {
  margin: 10px;
  padding: 20px;
  font-size: 3em;
  color: #01599d;
  border: solid 2px #01599d;
  border-radius: 50%;
}

.account-button {
  margin: 20px;
  width: 300px;
}

.account-create {
  border: solid 2px #01599d;
  background-color: white;
}

.user-panel-logo {
  font-size: 150px;
}

.user-panel-slogan {
  margin-top: 15px;
  margin-bottom: 15px;
}

.user-panel .input {
  margin-bottom: 20px;
}

.create-panel-create-button {
  margin-top: 20px;
}