.app-bar .app-bar-search {
    width: 100%;
}

.app-bar .app-bar-search-field {
    height: 40px;
    width: 50%;
    margin-left: 50px
}

.app-bar .app-bar-search-field .rmwc-icon {
    bottom: 9px;
}

.app-bar .autocomplete-suggestions {
    position: absolute;
    margin-left: 50px;
    background-color: white;
}